<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Emotion AI</title>

<script defer src="https://cdn.jsdelivr.net/npm/face-api.js"></script>

<style>

body{
    margin:0;
    padding:0;
    background:#0f172a;
    color:white;
    font-family:Arial;
    overflow:hidden;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    flex-direction:column;
}

video{
    width:700px;
    max-width:90%;
    border-radius:20px;
    border:5px solid #38bdf8;
}

#emocao{
    margin-top:20px;
    font-size:35px;
    font-weight:bold;
}

</style>
</head>

<body>

<div class="container">

<h1>Emotion AI</h1>

<video id="video" autoplay muted></video>

<div id="emocao">
Detectando emoção...
</div>

</div>

<script>

const video = document.getElementById('video')

navigator.mediaDevices.getUserMedia({
    video:true
})
.then((stream)=>{
    video.srcObject = stream
})

Promise.all([
faceapi.nets.tinyFaceDetector.loadFromUri('https://justadudewhohacks.github.io/face-api.js/models'),
faceapi.nets.faceExpressionNet.loadFromUri('https://justadudewhohacks.github.io/face-api.js/models')
])

video.addEventListener('play',()=>{

setInterval(async()=>{

const detections = await faceapi
.detectSingleFace(
    video,
    new faceapi.TinyFaceDetectorOptions()
)
.withFaceExpressions()

if(detections){

const expressoes = detections.expressions

let emocao = Object.keys(expressoes).reduce((a,b)=>
expressoes[a] > expressoes[b] ? a : b
)

const traducao = {
happy:"Feliz 😀",
sad:"Triste 😢",
angry:"Com Raiva 😠",
neutral:"Neutro 😐",
fearful:"Medo 😨",
surprised:"Surpreso 😲",
disgusted:"Nojo 🤢"
}

document.getElementById('emocao').innerHTML =
traducao[emocao] || emocao

}

},1000)

})

</script>

</body>
</html>